<p>Contacto</p>
<div class="form-group">
    <form method="POST">
        <label for="nombre" >Nombre</label>
        <input name="nombre" placeholder="Ingrese su nombre" required/>
        <label for="mail">Mail</label>
        <input name="mail" placeholder="Ingrese su mail" required/>
        <label for="comentario">Deje su comentario</label>
        <textarea name="comentario"></textarea>
        <input type="submit" value="Enviar"/>
    </form>
</div>

